@import "tailwindcss";
@config "../tailwind.config.ts";
.kt-tab-toggle {
  transition: all 0.2s ease-in-out;
}

.kt-tab-toggle.active {
  background-color: #90a955;
  color: white;
}

.swiper .swiper-pagination-bullet {
  background: rgba(0, 0, 0, 0.431);
  opacity: 0.5;
}

.swiper .swiper-pagination-bullet-active {
  background: #90a955;
  opacity: 1;
}

.swiper .swiper-pagination {
  position: static !important;
  margin-top: 15px;
}
